:root {
  --white: #ffffff;
  --darkblue: #445976;
  --lightgray: #f2f2f2;
  --gray: #717171;
  --orange: #f9ab46;
  --darkorange: #d07706;
  --darkgray: #232323;
  --nerko: 'Nerko One', cursive;
  --gochi: 'Gochi Hand', cursive;
  --opensans: 'Open Sans', sans-serif;
}

.bg-gray {
  background-color: var(--lightgray);
  max-width: 100%;
  padding: 30px 0;
}

footer .bg-gray {
  padding: 20px 0;
}

header {
  padding: 10px;
  min-height: 500px;
  border-bottom: 10px solid #f9ab46;
}

header h3,
header p,
header label {
  font-family: var(--opensans);
  color: var(--gray);
}

header h3,
header label {
  font-weight: bold;
}

header p {
  margin: 15px 0;
}

.logo {
  margin: 0 auto;
  width: 70%;
}

.hero {
  background: url(../images/hero_img_taller.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hide {
  display: none;
}

.shelter-listings-wrap {
  padding: 0px 100px;
}
.shelter-graphic-wrap {
  padding: 0px 100px;
}
.shelter-graphic-wrap h2 {
  font-family: var(--nerko);
  color: var(--gray);
  text-align: center;
}
.shelter-graphic-wrap h2 span {
  color: var(--orange);
  display: block;
}
.shelter-graphic-wrap p {
  font-family: var(--opensans);
  font-weight: 400;
}
.shelter-graphic-wrap p.learn-more {
  font-weight: 700;
}
.shelter-graphic-wrap a {
  color: var(--darkorange);
  font-style: italic;
}

#shelter-listings {
  padding-right: 20px;
  font-family: var(--opensans);
}

#shelter-listings li a {
  font-family: var(--opensans);
  font-weight: 700;
  text-decoration: none;
  font-size: 1.2em;
  color: var(--darkgray);
}

.btn.submit {
  background-color: var(--orange);
  font-family: var(--opensans);
  color: var(--white);
  font-weight: 700;
}

.btn.clear {
  background-color: var(--gray);
  font-family: var(--opensans);
  color: var(--white);
  font-weight: 700;
}

.btn.submit:hover {
  opacity: .8;
}

.icon svg {
  fill: #f9ab46;
  stroke: #f9ab46;
}

.planning-to-adopt {
  color: var(--darkgray);
  padding: 40px 100px;
}

.planning-to-adopt h2 {
  font-family: var(--nerko);
  color: var(--darkgray);
  font-size: 3em;
}

.row .adoption-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: var(--opensans);
  padding: 0 30px;
}

.row .adoption-info h3 {
  font-weight: 700;
  color: var(--gray);
  margin: 20px 0px 10px;
}

.row .adoption-info .btn {
  color: var(--orange);
  border: 1px solid #f9ab46;
  background-color: transparent;
  color: var(--darkgray);
  margin: 20px 0;
}

.row .adoption-info .btn:hover {
  color: var(--white);
  border: 1px solid #f9ab46;
  background-color: var(--orange);
  opacity: .8;
}
.row .adoption-info a {
  color: var(--darkgray); 
  text-decoration: none;
}
.row .adoption-info a:hover {
  color: var(--white);
}
.row .adoption-info p {}

footer .col-2 {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

footer .footer-logo {
  padding: 10px;
  min-height: 100px;
  width: 300px;
}

.bg-img {
  background: url(../images/footer_img2.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}


#shelter-listings {}

#shelter-listings ul {
  padding-left: 0px;
  overflow: auto;
}

#shelter-listings ul li {
  list-style: none;
}

#shelter-listings li.name {
  float: left;
}

#shelter-listings li.address {
  float: left;
  clear: both;
}

#shelter-listings li.distance {
  float: right;
}



/* media queries */
@media screen and (max-width: 1399px) {
  .planning-to-adopt {
    padding: 40px 20px;
  }
  .shelter-graphic-wrap {
    padding: 0px 0px 0 100px;
  }
}

/* Desktops  */
@media screen and (max-width: 1199px) {
  .hero {
    background-position: 40% 50%;
  }

  .shelter-listings-wrap {
    padding: 0px 40px;
  }

  footer .footer-logo {
    width: 60%;
    margin: 0 auto;
  }

  .logo {
    width: 70%;
  }
  .shelter-graphic-wrap {
    padding: 0px 20px 0 100px;
  }
}

/* Tablets  */
@media screen and (max-width: 992px) {
  .hero {
    background-position: 40% 50%;
  }

  footer .footer-logo {
    width: 300px;
    margin: 0 auto;
  }

  .logo {
    width: 80%;
  }
}

/* Large phones */
@media screen and (max-width: 768px) {
  .hero {
    background-position: 40% 50%;
  }

  footer .footer-logo {
    margin: 0 auto;
    width: 280px;
  }

  footer .footer-img-pets {
    width: 380px;
  }
}

/* Small smartphones */
@media screen and (max-width: 576px) {}